@charset "utf-8";
/* 최근게시물 스킨 (latest) */
.lt {position:relative;padding:15px 20px ;}
.lt ul {margin:;padding:0;list-style:none}
.lt a {text-decoration:none;color:#353535;background-color:#fff;}
.lt h2{position:relative;background:url(/img/m/bd_bg.jpg) repeat-x 50% ;margin-bottom:10px}
.lt h2 .lt_title {display:inline-block;padding: 0;line-height:25px;font-size:1.333em;padding-right:10px;}
.lt .lt_more {position:absolute;top:5px;right:10px}
.lt .cnt_cmt {display:inline-block;margin:0 0 0 3px;font-weight:bold}
.lt li{line-height:31px;height:31px;font-size:1.083em;position:relative;}
.lt li.no_lt{color:#e9e9e9;text-align:center;padding:20px 0 30px }
.lt li a{margin-right:85px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;display:block;color:#535353}
.lt  .lt_date{position:absolute;top:0;right:0;color:#aeaeae}
.lt  .lt_more{position:absolute;top:7px;right:20px;color:#353535;background-color:#fff;padding:10px 0 10px 10px;z-index:20;}
.lt  .lt_more a{color:#353535;}