<div class="parking_info">
    <div class="info_step">
        <div class="item">
            <span class="num">1</span>
            <span class="text" data-lang-code="차량번호입력라벨">차량번호 입력</span>
        </div>
        <div class="item">
            <span class="num">2</span>
            <span class="text" data-lang-code="검색버튼">검색/확인</span>
        </div>
        <div class="item">
            <span class="num">3</span>
            <span class="text" data-lang-code="주차위치확인">주차 위치 확인</span>
        </div>
    </div>
    <div class="info_text">
        <div class="title" data-lang-code="차량조회불가안내">고객님의 차량번호가 조회되지 않을 경우</div>
        <ol>
            <li data-lang-code="조회불가사유1">1. 주차장에 주차를 하신 후 5분 이내에 검색하시면 검색이 되지 않습니다.</li>
            <li data-lang-code="조회불가사유2">2. 번호 인식이 되지 않는 곳에 주차를 하셨을 경우 검색이 되지 않습니다.</li>
            <li data-lang-code="조회불가사유3">3. 차량의 번호판이 훼손되었다면 번호인식이 안될 수도 있습니다.</li>
        </ol>
    </div>
</div>
