/* 지도 애니메이션 효과 START */
.fade-in { animation: fadeIn 0.5s forwards; }
.fade-out { animation: fadeOut 0.5s forwards; display: none; }
@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@keyframes fadeOut { from { opacity: 1; } to { opacity: 0; } }
/* 지도 애니메이션 효과 END */

/* .btn:active{ transform: translateY(+4px); } */

/* MAP START */
.map_area {position: relative; width: 100%; height: 100dvh;}
.map_main {position: relative; width: var(--width); height: var(--map-height); overflow: hidden; /*display: flex; justify-content: center; align-items: center;*/ }

.floor_info_area{position: absolute; top: 50px ; left: 50px; z-index: 10;}
.floor_info_area .floor_title_area h2{font-size: 15rem; line-height: 1;}

.floor_info_area .zone_area{width: 300px; background-color: #fff; padding: 3rem; margin-top: 5rem; border-radius: 20px; border: 1px solid #707070;}
.floor_info_area .zone_area > div{position: relative; font-size: 2.4rem;}
.floor_info_area .zone_area > div + div{margin-top: 1rem;}
.floor_info_area .zone_area > div::before{content: ''; display: inline-block; width: 30px; height: 30px; vertical-align: middle; margin-right: 1rem;}
.floor_info_area .zone_area > div:nth-child(1)::before{background-color: #E2E2E2;}
.floor_info_area .zone_area > div:nth-child(2)::before{background-color: #AFAFAF;}

.floor_category_area{position: absolute; width: 470px; top: 50px; right: 50px; box-shadow: 0 0 20px rgba(0, 0, 0, .15); z-index: 10; border-radius: 20px; overflow: hidden;}
.floor_category_area .category_title_area{display: flex; justify-content: space-between; align-items: center; background-color: #ffffff; padding: 16px 30px;}
.floor_category_area .category_title_area.open{background-color: #DBDBDB;}
.floor_category_area .category_title_area h3{font-size: 4rem; font-weight: bold;}
.floor_category_area .category_title_area button{width: 32px; height: 16px;}
.floor_category_area .category_title_area button img{width: 100%; display: block;}

.floor_category_area .category_result{width: 100%; max-height: 344px; overflow-y: auto; background-color: #ffffff;}
.floor_category_area .category_result li{width: 100%; padding: 20px 30px; border-top: 1px solid #DBDBDB; box-sizing: border-box;}
.floor_category_area .category_result li button{width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; text-align: left; font-size: 3rem; padding-right: 6rem; background-image: url('../../images/search.svg'); background-position: right center; background-size: 32px; background-repeat: no-repeat;}
.floor_category_area .category_result li.active button{color: var(--main-color); background-image: url('../../images/search_active.svg');}

.floor_pub_area{position: absolute; right: 50px; bottom: 460px; z-index: 10;}
.floor_pub_area ul{width: 110px; border-radius: 20px; overflow: hidden; box-shadow: 0 0 10px rgba(0, 0, 0, .15);}
.floor_pub_area ul li{}
.floor_pub_area ul li + li{border-top: 1px solid #DBDBDB;}
.floor_pub_area ul li button{width: 100%; background-color: #fff; font-size: 1.9rem; padding:15px 0;}
.floor_pub_area ul li button img{width: 58px; height: 58px; display: block; margin: 0 auto; padding-bottom: 4px;}
#currentBtn{width: 100%; height:110px; background-color: #ffffff; border-radius: 20px; box-shadow: 0 0 20px rgba(0, 0, 0, .15); margin-top: 3rem;}

#popFloorGuide{display: flex; gap: 30px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, calc(-50% - (100dvh - var(--map-height)) / 2)); background-color: rgba(0, 0, 0, .6); z-index: 100; padding: 3rem; border-radius: 20px; z-index: 10;}
#popFloorGuide div{font-size: 3.2rem; color: #fff;}
.divMap { position: absolute; /*display: flex; justify-content: center; align-items: center;*/ }
.divMap > img { position: absolute; max-width: 100%; max-height: 100%; }
/* MAP END */

/* 하단 LNB START*/
.floor_lnb{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: var(--width);
    height: calc(100dvh - var(--map-height));
    background-color: #fff;
}

.floor_lnb > div{width: 100%; border-top: 1px solid #DBDBDB; padding: 3rem 5rem; box-sizing: border-box;}

.depth1{display: flex; justify-content: space-between;}
.depth2{height: 100px; position:absolute; left: 0; right: 0; bottom: 160px; background: #ffffff;}
.depth3{height: 100px; position:absolute; left: 0; right: 0; bottom: 260px; background: #ffffff;}

.depth2 nav,
.depth3 nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
}

.depth2 nav ul,
.depth3 nav ul{display: flex; column-gap: 30px;}

.depth2 nav ul li,
.depth3 nav ul li{}

.depth2 nav ul li button,
.depth3 nav ul li button{font-size: 2.6rem; height: 40px; line-height: 1;}

.depth2 nav ul li.active button{background-color: var(--main-color); color: #ffffff; padding:0 1.6rem; box-shadow: 0 0 20px rgba(0, 0, 0, .15); border-radius: 20px;}
.depth3 nav ul li.active button{border: 2px solid var(--main-color); color: var(--main-color); padding: 0 1.6rem; box-shadow: 0 0 20px rgba(0, 0, 0, .15); border-radius: 20px;}

#divZone,
#divFloor{box-shadow: 0 0 20px rgba(0, 0, 0, .15); border-radius: 20px; overflow: hidden; font-size: 0;}

#divZone button,
#divFloor button{display: inline-block; min-width: 150px; height: 100%; font-size: 3rem;}

#divZone button + button,
#divFloor button + button{border-left: 1px solid #DBDBDB;}

#divZone button.active,
#divFloor button.active{color: #fff; background-color: var(--main-color);}
/* 하단 LNB END*/

/* 상점 팝업 START */
.popup_base{position: absolute; top: 50%; left:50%; transform: translate(-50%, -50%); background-color: #fff; border-radius: 35px; overflow: hidden; z-index: 1;}

/* 팝업 공통 */
.popup_store,
.popup_way{position: fixed; top:0; bottom:0; left: 0; right: 0; z-index: 20;}
.popup_box{position: relative; padding: 110px 160px 140px; font-size: 4rem; font-weight: 400; min-width: 900px;}
.btn_close{position: absolute; right: 50px; top: 50px;}
.popup_close_cover{position: absolute; width: 100%; height: 100%; top:0; bottom:0; left: 0; right: 0; background: rgba(0, 0, 0, .75);}
/* 팝업 공통 */

.store_info{}
.store_title{border-top: 4px solid #A5A5A5; padding: 1rem 0 1.5rem;}
.store_title h3{font-weight: 700;}

.store_desc{padding: 6rem 0; border-top:1px solid #A5A5A5;}
.store_desc li + li{margin-top: 2.7rem;}
.store_desc dl{display: flex; column-gap: 12rem;}
.store_desc dl dt{font-weight: 700; white-space: nowrap;}

.store_location{border-top: 4px solid #A5A5A5; padding-top: 2rem;}
.store_location h3{font-weight: 700;}

.btn_box{display: flex; justify-content: space-between; align-items: center;}
.btn_box > button{column-gap: 3rem; font-size: 4rem; border: 2px solid #DBDBDB; box-shadow: 0 0 40px rgba(0, 0, 0, .15); font-weight: 500;}

.popup_store .btn_box > button{display: flex; justify-content: center; align-items: center; width: calc(50% - 30px); height: 150px; margin-top: 6.5rem; border-radius: 15px;}
.popup_way .btn_box > button{width: calc(50% - 75px); height: 340px; border-radius: 25px; margin-top: 9rem;}

.pop_waytype_box{padding: 140px 210px; font-size: 4rem; font-weight: 400;}
.pop_waytype_box p{text-align: center;}

/* 상점 팝업 END */

/*편의시설 팝업*/

.popup_move .popup_base{background: none; border-radius: 0;}
.popup_move .move_animation{width: 600px; height: 600px; background: linear-gradient(to bottom right, #8AF7FF, #6183FF); padding: 30px; margin: 0 auto 40px;}
.popup_move .move_animation .move_animation_box{width: 100%; height: 100%; background: #fff;}
.popup_move .move_animation .move_animation_box img{display: block; max-width: 100%; object-fit: cover;}
.popup_move .move_desc{position: relative; display: flex; align-items: flex-start; column-gap: 30px; line-height: 1.2;}
.popup_move .move_desc > div > div:nth-child(1){font-size: 80px;}
.popup_move .move_desc > div > div:nth-child(2){font-size: 45px;}

.popup_move .move_desc .move_current{color: #fff;}
.popup_move .move_desc .move_target{color: #89EFFF;}

.popup_move .move_desc .move_arrow{position: relative; width: 175px; height: 40px; margin-top: 28px;}
.popup_move .move_desc .move_arrow span{display: inline-block; position: absolute; top:50%; transform: translateY(-50%);}
.popup_move .move_desc .move_arrow span:nth-child(1){width: 30px; height: 30px; border-radius: 50%; background-color: #fff; left: 0;}
.popup_move .move_desc .move_arrow span:nth-child(2){width: 90%; left: 50%; transform: translate(-50%, -50%);  height: 8px; background-color: #fff;}
.popup_move .move_desc .move_arrow span:nth-child(3){width: 0; height: 0; border-top: 20px solid transparent; border-bottom: 20px solid transparent; border-left: 40px solid white; right: 0;}



/*안내 종료 팝업*/
#wayEndInfoPopup{position: absolute; top:100px; left:50%; z-index:30}
#wayEndInfoPopup .info_box{padding: 30px 50px; background-color: #fff; border-radius:20px; border: 1px solid #DBDBDB; box-shadow: 0 0 10px rgba(0, 0, 0, .2);}
#wayEndInfoPopup .info_title{font-size: 40px; font-weight: 700; text-align: center; padding-bottom: 20px; border-bottom: 1px solid #A5A5A5;}
#wayEndInfoPopup .info_desc{padding-top: 20px;}
#wayEndInfoPopup dl{display: flex; column-gap: 20px; font-size: 30px;}
#wayEndInfoPopup dl dt{font-weight: 700; white-space: nowrap; width: 110px;}
#wayEndInfoPopup dl dd{white-space: nowrap; width: calc(100% - 110px);}

/*보안검색대 팝업*/

.security_area{position:absolute;z-index:99100; left:50%; top:calc(50% - 110px); transform: translate(-50%, -50%); background:rgba(45,45,45,0.8);width:700px;height:70px;border-radius:60px;text-align:center;}
.security_area .desc{display: inline-block;padding: 15px 0 0 0; font-size:80px;text-align:center;color:#cccccc;line-height:34px;font-weight: 300;translate: 0% -80%;}
