
.list_main{position:absolute;z-index:35;width:1080px;height:1480px;box-sizing:border-box;}
.list_main .list_area .img_main{position:absolute;width:1080px;height:1920px;}
.notice_main{position:absolute;width:1080px;overflow: hidden; height:1920px;background:#000000;}
.notice_main .notice_box{position:absolute;top:0;left:0;width:1080px;height:1920px;display:flex;justify-content: center;align-items: center;}
.notice_main .notice_box img{width:100%; height:100%;}
.notice_main .notice_box video{width:100%; height:100%;}
.notice_main .notice_box img2{max-width:100%; max-height:100%;}
.notice_main .notice_box video2{max-width:100%; max-height:100%;}


.list_main .list_area .screen_txt{position:absolute;top:1750px;left:90px;font-size: 28px;color:#FFFFFF;background:rgba(0,0,0,0.5);width:900px;height:80px;border-radius:500px;z-index: 120000;display:flex;justify-content: center;align-items: center;}

.sub_page_main .frame_info{height:1666px;}

.bottom_menu{ width:1080px;height:185px;box-sizing:border-box;}
.bottom_menu .bottom_btn_li {float:left;box-sizing:border-box;width:180px;height:185px;text-align: center;}
.bottom_menu .bottom_btn_li img{margin:25px 0 0 0}
.bottom_menu .bottom_btn_li .bottom_btn_text{font-size: 20px;margin:18px 0 0 0;font-weight: 500;}
.bottom_menu .bottom_btn_li img:nth-child(2){display:none;}
.bottom_menu .bottom_btn_li .bottom_btn{height:185px;box-sizing:border-box;}
.bottom_menu .bottom_btn_li .bottom_btn.active{width:100%; height:185px;color: #FFFFFF; background:#2D3552;}
.bottom_menu .bottom_btn_li .bottom_btn.active img:nth-child(1){display:none;}
.bottom_menu .bottom_btn_li .bottom_btn.active img:nth-child(2){display:inline-block;}
.bottom_menu .bottom_btn_li .bottom_btn:active{width:100%; height:185px;color: #FFFFFF; background:#2D3552;}
.bottom_menu .bottom_btn_li .bottom_btn:active img:nth-child(1){display:none;}
.bottom_menu .bottom_btn_li .bottom_btn:active img:nth-child(2){display:inline-block;}

.footer_bar{width:1080px;height:70px;background:#2E2E2E;}
.footer_bar .time_area{margin:13px 0 0 34px;display:inline-block;box-sizing:border-box;width:400px;vertical-align: top;}
.footer_bar .time_area .time_txt_0 {margin: -50px 0 0 0;display: inline-block;width:450px;;}
.footer_bar .time_area .time_txt_0 .time_title{color:#E8E8E8;display: inline-block; width:100px;font-weight:500;font-size:14px;}
.footer_bar .time_area .time_txt_0 .time_txt{color:#9E9E9E;display: inline-block;font-weight: 400;font-size:14px;}
.footer_bar .time_area .time_txt_1 {width:400px;}
.footer_bar .time_area .time_txt_1 .time_title{color:#E8E8E8;display: inline-block; width:100px;font-weight:500;font-size:14px;}
.footer_bar .time_area .time_txt_1 .time_txt{color:#9E9E9E;display: inline-block;font-weight: 400;font-size:14px;}
.footer_bar .time_area_2{margin:13px 0 0 5px;display:inline-block;box-sizing:border-box;width:300px;vertical-align: top;}
.footer_bar .time_area_2 .time_txt_2 {display: inline-block;width:300px;}
.footer_bar .time_area_2 .time_txt_2 .time_title{color:#E8E8E8;font-weight:500;font-size:14px;}
.footer_bar .time_area_2 .time_txt_2 .time_txt{color:#9E9E9E;font-weight: 400;font-size:14px;}


.footer_bar .lang_area{margin:13px 0 0 40px;display:inline-block;box-sizing:border-box;vertical-align: top;}
.footer_bar .lang_area .lang_btn{float:left;margin:0 0 0 0;}
.footer_bar .lang_area .lang_btn:nth-child(3){margin:0 0 0 0;}
.footer_bar .lang_area .lang_btn .lang_txt{display:flex;justify-content:center;align-items: center;text-align: center; font-size: 14px; color:#919396;width:70px;height:40px;font-weight: 300;border:1px solid #707070;box-sizing:border-box;}
.footer_bar .lang_area .lang_btn .lang_txt:active{color:#FFFFFF;background:#8B8C98;}
.footer_bar .lang_area .lang_btn .lang_txt.active{color:#FFFFFF;background:#8B8C98;}


.popup_store{position: absolute;z-index: 120000;width:100%;height:100%;top:0;background:rgba(0,0,0,0.7);}
.popup_store .popup_base{position:absolute;z-index:121000;background:#EFEFF6; margin:auto;left:50%;top:50%; transform: translate(-50%, -50%); width:700px;height:630px;}
.popup_store .popup_base .popup_box{width:700px;height:800px;}
.popup_store .popup_base .popup_box .img_box{display:inline-block;vertical-align:top;width:100%;height:100%;}
.popup_store .popup_base .popup_box .img_box .thumb{width:100%;height:100%;display:flex;justify-content:center;align-items: center;}
.popup_store .popup_base .popup_box .img_box .thumb img{width:100%; height:100%;}
.popup_store .popup_base .popup_box .img_box .lang_name_thumb{font-weight: 600;}
.popup_store .popup_base .popup_box .txt_box{color:#383839;position:relative;display:inline-block;width:488px;height:400px;box-sizing:border-box;margin:0 0 0 104px;}
.popup_store .popup_base .popup_box .txt_box .store_name{text-align: left;margin: 38px 0 0 0px; font-size: 38px;font-weight: 500;text-align: center;}
.popup_store .popup_base .popup_box .txt_box .top_line{border-bottom:1px solid #707070 ; margin:29px 0;}
.popup_store .popup_base .popup_box .txt_box .txt0 {margin:-26px 0 0 -2px;height:64px; border-bottom: 1px solid rgba(109, 109, 109, 0.2)}
.popup_store .popup_base .popup_box .txt_box .txt0 .txt_left {display: inline-block;text-align: left;width:150px; font-size: 16px;margin:18px 0 0 20px;font-weight: 400;}
.popup_store .popup_base .popup_box .txt_box .txt0 .txt_right {display: inline-block; vertical-align: top;text-align: right;width:244px;font-size: 35px;margin:3px 0 0 47px;font-weight: 400;}
.popup_store .popup_base .popup_box .txt_box .txt1 {height:69px;border-bottom: 1px solid rgba(109, 109, 109, 0.2);}
.popup_store .popup_base .popup_box .txt_box .txt1 .txt_left {display: inline-block;text-align: left;width:150px; font-size: 16px;font-weight: 400;margin:22px 0 0 18px;}
.popup_store .popup_base .popup_box .txt_box .txt1 .txt_right{display: inline-block;vertical-align: top;text-align: right;width:244px;font-size: 18px;font-weight: 400;margin:22px 0 0 48px;}
.popup_store .popup_base .popup_box .txt_box .txt2 {height:63px;border-bottom: 1px solid rgba(109, 109, 109, 0.2);}
.popup_store .popup_base .popup_box .txt_box .txt2 .txt_left {display: inline-block;margin: 0 0 0 12px; vertical-align: top;text-align: left;width:150px; font-size: 16px;margin:20px 0 0 18px;font-weight: 400;}
.popup_store .popup_base .popup_box .txt_box .txt2 .txt_right{display: inline-block;vertical-align: top;text-align: right;width:244px;font-size: 16px;font-weight: 400;margin:21px 0 0 46px;}
.popup_store .popup_base .popup_box .txt_box .txt3 .txt_left {display: inline-block;vertical-align: top;text-align: left;width:150px; font-size: 16px;margin:35px 0 0 18px;font-weight: 400;}
.popup_store .popup_base .popup_box .txt_box .txt3 .txt_right{display: inline-block;vertical-align: center; text-align: right;width:260px;height:40px;font-size: 16px;margin:35px 0 10px 34px;font-weight: 400;overflow: hidden;word-break:break-all;}
.popup_store .popup_base .popup_box .txt_box .bottom_line{border-top:1px solid #707070;;}
.lang_name_thumb{font-size: 30px;}


.btn_close{position: absolute;top:10px; right:0px; width:66px;height:66px;display:flex;justify-content:center;align-items: center;}
.btn_way{position:absolute;top:600px;left:104px;width:232px;height:97px;border:0;font-size:19px;background:rgba(255,255,255,1);color:#383839;font-weight: 500;}
.btn_way .way_img{position:absolute; top:18px; left:23px;}
.btn_way .way_img img:nth-child(2){display:none;}
.btn_way .way_txt{margin:0 0 0 42px;width:200px;display:flex;justify-content:center;align-items: center;}
.btn_way:active{background: #3F4564;color:#FFFFFF;}
.btn_way:active .way_img img:nth-child(1){display:none;}
.btn_way:active .way_img img:nth-child(2){display:inline-block;}

.btn_wayfind{position:absolute;top:600px;left:363px;width:232px;height:97px;border:0;font-size:19px;background:rgba(255,255,255,1);color:#383839;font-weight: 500;}
.btn_wayfind .way_img{position:absolute; top:18px; left:18px;}
.btn_wayfind .way_img img:nth-child(2){display:none;}
.btn_wayfind .way_txt{margin:0 0 0 42px;width:200px;display:flex;justify-content:center;align-items: center;}
.btn_wayfind:active{background: #3F4564;color:#FFFFFF;}
.btn_wayfind:active .way_img img:nth-child(1){display:none;}
.btn_wayfind:active .way_img img:nth-child(2){display:inline-block;}


.popup_store .popup_close_cover{position: absolute;width:100%;height:100%;top:0;left:0;background:rgba(0,0,0,0.0);}


.popup_fnb{position: absolute;z-index: 120000;width:1080px;height:1920px;top:0;left:0;background:rgba(0,0,0,0.7);}
.popup_fnb .popup_base{position:absolute;background:#EFEFF6;z-index:121000;top:1px;left:1px;margin:auto;left:190px;top:265px;width:700px;height:1425px;}
.popup_fnb .popup_base .popup_box{width:700px;height:1425px;}
.popup_fnb .popup_base .popup_box .img_box{display:inline-block;vertical-align:top;width:700px;height:565px;}
.popup_fnb .popup_base .popup_box .img_box .thumb{width:100%;height:100%;display:flex;justify-content:center;align-items: center;}
.popup_fnb .popup_base .popup_box .img_box .thumb img{width:100%; height:100%;}
.popup_fnb .popup_base .popup_box .img_box .lang_name_thumb{font-weight: 600;}
.popup_fnb .popup_base .popup_box .txt_box{color:#383839;position:relative;display:inline-block;width:488px;height:400px;box-sizing:border-box;margin:0 0 0 104px;}
.popup_fnb .popup_base .popup_box .txt_box .store_name{text-align: left;margin: 25px 0 0 0px; font-size: 38px;font-weight: 500;text-align: center;}
.popup_fnb .popup_base .popup_box .txt_box .top_line{border-bottom:1px solid #707070 ; margin:27px 0;}
.popup_fnb .popup_base .popup_box .txt_box .txt0 {margin:-26px 0 0 -2px;height:64px; border-bottom: 1px solid rgba(109, 109, 109, 0.2)}
.popup_fnb .popup_base .popup_box .txt_box .txt0 .txt_left {display: inline-block;text-align: left;width:150px; font-size: 16px;margin:18px 0 0 20px;font-weight: 400;}
.popup_fnb .popup_base .popup_box .txt_box .txt0 .txt_right {display: inline-block; vertical-align: top;text-align: right;width:244px;font-size: 35px;margin:3px 0 0 47px;font-weight: 400;}
.popup_fnb .popup_base .popup_box .txt_box .txt2 {height:63px;border-bottom: 1px solid rgba(109, 109, 109, 0.2);}
.popup_fnb .popup_base .popup_box .txt_box .txt2 .txt_left {display: inline-block;margin: 0 0 0 12px; vertical-align: top;text-align: left;width:150px; font-size: 16px;margin:20px 0 0 18px;font-weight: 400;}
.popup_fnb .popup_base .popup_box .txt_box .txt2 .txt_right{display: inline-block;vertical-align: top;text-align: right;width:244px;font-size: 16px;font-weight: 400;margin:21px 0 0 46px;}
.popup_fnb .popup_base .popup_box .txt_box .txt3 .txt_left {display: inline-block;vertical-align: top;text-align: left;width:150px; font-size: 16px;margin:35px 0 0 18px;font-weight: 400;}
.popup_fnb .popup_base .popup_box .txt_box .txt3 .txt_right{display: inline-block;vertical-align: center; text-align: right;width:260px;height:40px;font-size: 16px;margin:35px 0 10px 32px;font-weight: 400;overflow: hidden;word-break:break-all;}
.popup_fnb .popup_base .popup_box .txt_box .bottom_line{border-bottom:1px solid rgba(109, 109, 109, 0.2) ; margin:0 0 0 0;}
.lang_name_thumb{font-size: 30px;}
.popup_fnb .popup_base .popup_box .menu_box{position:relative;height:311px;}
.popup_fnb .popup_base .popup_box .menu_box .title{font-weight: 400;font-size:16px;margin:18px 0 0 18px;}
.popup_fnb .popup_base .popup_box .menu_box .menu0{position:absolute;top:50px;left:10px;}
.popup_fnb .popup_base .popup_box .menu_box .menu0 .menu_img img{width:220px;height:180px;}
.popup_fnb .popup_base .popup_box .menu_box .menu0 .menu_name{font-weight: 400;font-size:16px;margin:12px 0 0 4px;width:210px;box-sizing:border-box;word-break:break-all;overflow: hidden;}
.popup_fnb .popup_base .popup_box .menu_box .menu0 .menu_price{font-weight: 400;font-size:16px;height:28px;margin:0 0 0 4px;}
.popup_fnb .popup_base .popup_box .menu_box .menu1{position:absolute;top:50px;left:260px;}
.popup_fnb .popup_base .popup_box .menu_box .menu1 .menu_img img{width:220px;height:180px;}
.popup_fnb .popup_base .popup_box .menu_box .menu1 .menu_name{font-weight: 400;font-size:16px;margin:12px 0 0 4px;width:210px;box-sizing:border-box;word-break:break-all;overflow: hidden;}
.popup_fnb .popup_base .popup_box .menu_box .menu1 .menu_price{font-weight: 400;font-size:16px;height:28px;margin:0 0 0 4px;}
.popup_fnb .lang_name_thumb{font-size: 30px;}

.popup_fnb .popup_close_cover{position: absolute;width:1080px;height:1920px;top:0;left:0;background:rgba(0,0,0,0.0);}

.popup_fnb .btn_close{position: absolute;top:10px;left:622px; width:66px;height:66px;display:flex;justify-content:center;align-items: center;}
.popup_fnb .btn_way{position:absolute;top:1247px;left:104px;width:232px;height:97px;border:0;font-size:19px;background:rgba(255,255,255,1);color:#383839;font-weight: 500;}
.popup_fnb .btn_way .way_img{position:absolute; top:18px; left:23px;}
.popup_fnb .btn_way .way_img img:nth-child(2){display:none;}
.popup_fnb .btn_way .way_txt{margin:0 0 0 42px;width:200px;display:flex;justify-content:center;align-items: center;}
.popup_fnb .btn_way:active{background: #3F4564;color:#FFFFFF;}
.popup_fnb .btn_way:active .way_img img:nth-child(1){display:none;}
.popup_fnb .btn_way:active .way_img img:nth-child(2){display:inline-block;}

.popup_fnb .btn_wayfind{position:absolute;top:1247px;left:363px;width:232px;height:97px;border:0;font-size:19px;background:rgba(255,255,255,1);color:#383839;font-weight: 500;}
.popup_fnb .btn_wayfind .way_img{position:absolute; top:18px; left:18px;}
.popup_fnb .btn_wayfind .way_img img:nth-child(2){display:none;}
.popup_fnb .btn_wayfind .way_txt{margin:0 0 0 42px;width:200px;display:flex;justify-content:center;align-items: center;}
.popup_fnb .btn_wayfind:active{background: #3F4564;color:#FFFFFF;}
.popup_fnb .btn_wayfind:active .way_img img:nth-child(1){display:none;}
.popup_fnb .btn_wayfind:active .way_img img:nth-child(2){display:inline-block;}







.popup_faci{position: absolute;z-index: 120000;width:1080px;height:1920px;top:0;left:0;background:rgba(0,0,0,0.7);}
.popup_faci .popup_base{position:absolute;z-index:121000;background:#EFEFF6;margin:auto;left:305px;top:592px;width:470px;height:745px;}
.popup_faci .popup_base .pop_fac_box{width:470px;height:745px;text-align: center;}
.popup_faci .popup_base .pop_fac_box .title{font-size: 32px;padding:64px 0 0 0;}
.popup_faci .popup_base .pop_fac_box .img_box{margin: 50px 0 0 0; display:inline-block;vertical-align:top;width:470px;height:300px;}
.popup_faci .popup_base .pop_fac_box .desc{width:470px; height:100px;color:#383839;}
.popup_faci .popup_base .pop_fac_box .desc .left{margin:0 0 0 0;text-align: center; display:inline-block; font-size: 16px;}
.popup_faci .popup_base .pop_fac_box .desc .right_floor{margin:3px 0 0 0;width:470px;text-align: center; font-size: 35px;}
.popup_faci .popup_base .pop_fac_box .img_box img{width:100%; height:100%;}
.popup_faci .popup_base .pop_fac_box .location{margin: 30px auto 0 auto; width:300px;height:97px;}
.popup_faci .popup_base .pop_fac_box .location .btn_loc{width:300px;height:97px;text-align: left;border:0;background:#FFFFFF;}
.popup_faci .popup_base .pop_fac_box .location .btn_loc img{margin:0 0 0 32px;width:67px;height:67px;}
.popup_faci .popup_base .pop_fac_box .location .btn_loc .txt{margin:0 0 0 20px;display: inline-block;text-align:left; width:150px;font-size:20px;}
.popup_faci .popup_base .btn_close{position: absolute;top:10px;left:390px;width:66px;height:66px;background:#FFFFFF;}
.popup_faci .popup_base .pop_fac_box .location .btn_loc img:nth-child(2){display:none;}
.popup_faci .popup_base .pop_fac_box .location .btn_loc:active{background: #3F4564;color:#FFFFFF;}
.popup_faci .popup_base .pop_fac_box .location .btn_loc:active img:nth-child(1){display:none;}
.popup_faci .popup_base .pop_fac_box .location .btn_loc:active img:nth-child(2){display:inline-block;}


.popup_way{position: absolute;z-index: 120000;width:100%;height:100%;top:0;left:0;background:rgba(0,0,0,0.7);}
.popup_way .popup_base{position:absolute;z-index:121000;background:#EFEFF6;margin:auto;left:50%;top:50%; transform: translate(-50%, -50%); width:700px;height:520px;}
.popup_way .popup_base .pop_waytype_box{width: 700px;height: 520px;}
.popup_way .popup_base .pop_waytype_box .title{font-size: 21px;text-align: center;padding:90px 0 0 0;color:#4C4C4E;line-height: 1.9 ;}

.popup_way .popup_base .btn_close{position: absolute; top:13px;left:620px;}

.popup_way .popup_base .pop_waytype_box .btn_esc{text-align: center;width:180px;height:180px;border:0;background:#FFFFFF;font-size:18px;margin:65px 40px 0 0 ;}
.popup_way .popup_base .pop_waytype_box .btn_esc p{margin:20px 0 0 0;}
.popup_way .popup_base .pop_waytype_box .btn_esc img{width:90px;height:90px;margin:0 0 0 0;}

.popup_way .popup_base .pop_waytype_box .btn_esc:active{background:#DCDEEA;}


.popup_way .popup_base .pop_waytype_box .btn_ele{text-align: center;width:180px;height:180px;border:0;background:#FFFFFF;font-size:18px;margin:65px 0 0 40px;}
.popup_way .popup_base .pop_waytype_box .btn_ele p{margin:20px 0 0 0;}
.popup_way .popup_base .pop_waytype_box .btn_ele img{width:90px;height:90px;margin:0 0 0 0;}

.popup_way .popup_base .pop_waytype_box .btn_ele:active{background:#DCDEEA;}
