@font-face {
  font-family: "Happiness-Sans";
  font-weight: 400;
  font-style: normal;
  src: 
  url("../fonts/Happiness-Sans/Happiness-Sans-Regular.woff2") format("woff2"),
  url("../fonts/Happiness-Sans/Happiness-Sans-Regular.woff") format("woff"),
}

@font-face {
  font-family: "Happiness-Sans";
  font-weight: 700;
  font-style: normal;
  src: 
  url("../fonts/Happiness-Sans/Happiness-Sans-Bold.woff2") format("woff2"),
  url("../fonts/Happiness-Sans/Happiness-Sans-Bold.woff") format("woff"),
}

@font-face {
  font-family: "Happiness-Sans";
  font-weight: 900;
  font-style: normal;
  src: 
  url("../fonts/Happiness-Sans/Happiness-Sans-Title.woff2") format("woff2"),
  url("../fonts/Happiness-Sans/Happiness-Sans-Title.woff") format("woff"),
}
