.language{
    .bottom_area .floating .btns {
        .item > button{
            font-size:4.2rem;padding:0 15px;
            strong{
                margin-bottom:7px;
            }
        }
        .item.home{
            width: auto;flex:1 1;
        }
    }
    .info_step .item{
        justify-content: center;
        .text{
            font-size:4.5rem;
        }
    }
    #page_map .page_content .floor_map .floor_selects .item button{
        svg{
            display: none;
        }
    }
    .search_form .search_type .item button{
        font-size:4.5rem;
    }
    .search_content.search_cate button{
        font-size:4.4rem;
    }
    #page_map .qr_code{
        max-width: 1185px;
    }
    #page_map .page_content .floor_map .map_control button{
        font-size:4.4rem;
    }
    #page_map .page_content .wayfind_control .tab_btn .item button{
        font-size:4rem;
        svg{
            width:72px;
        }
    }
}