@use '_mixins' as *;
@use '_variables' as *;

#page_parking{
    .page_content{
        margin-top:150px;padding:0 200px;
        .parking_info{
            border-bottom:1px solid #a4a4a4;margin-bottom:140px;
            .info_text{
                margin-top:120px;height: 470px;;
            }
        }
    }
}

.info_step{
    height:275px;padding:30px 70px;gap:150px;display: flex;align-items: center;justify-content: center;background-color: #F2F2F2;color:#000;font-size:6rem;
    .item{
        display: flex;align-items: center;position: relative;
        .num{
            min-width:76px;max-width:76px;height:76px;border-radius:50%;background-color: #000;color:#fff;text-align: center;font-weight: 900;margin-right:28px;
        }
        .text{
            font-size:6rem;font-weight: 700;
        }
        &:after{
            content:"";position: absolute;right:-95px;width:40px;height:60px;background-position: center center;background-repeat: no-repeat;background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='56' fill='none'%3E%3Cpath stroke='%23000' stroke-width='6' d='m3 3 25 25L3 53'/%3E%3C/svg%3E");
        }
        &:last-child:after{
            display: none;
        }
    }
    .item + .item{
        
    }
}
.info_text{
    font-weight:700;
    .title{
        color:#000;font-size:6.4rem;margin-bottom:40px;
    }
    ol{
        li{
        }
        li + li{
            margin-top:20px;
        }
    }
}

.parking_search{
    .search_top{
        margin-bottom:94px;
        .title{
            height: 100px;text-align: center;color:#000;font-size:8rem;font-weight:700;margin-bottom:80px;
        }
        .search_input{
            display: flex;align-items: center;justify-content: center;border:10px solid #000;height: 240px;text-align: center;
            span{
                display: flex;align-items: center;justify-content: center;height:100%;width:175px;position: relative;background-color: #fff;color:#000;font-size:7.6rem;font-weight:900;
                &:before{
                    content:"";width:80px;height:80px;background-position: center center;background-repeat: no-repeat;background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='61' height='59' fill='none'%3E%3Cpath fill='%23A4A4A4' d='m41.78 58.463-8.053-11.086-3.158-4.66-3 4.66-8.053 11.086-12-8.837 7.895-11.246 3.316-4.499-5.053-1.446L.727 28.097l4.579-14.299 12.947 4.177 5.21 1.928-.158-5.623V.463h14.843V14.28l-.158 5.623 5.21-1.928 12.948-4.177 4.579 14.3-12.948 4.337-5.21 1.607 3.316 4.338 7.894 11.246-12 8.837Z'/%3E%3C/svg%3E");
                }
                &.active:before{display: none;}
            }
        }
    }
    .search_bottom{
        display: flex;justify-content: space-between;color:#000;
        .parking_price{
            font-weight:700;display: flex;flex-direction:column;
            strong{
                display: block;font-size:6rem;
            }
            b{
                display: block;font-size:5.4rem;margin-top:18px;
            }
            p{
                margin-top:10px;line-height: 1.6;
            }
            * + strong{
                margin-top:50px;
            }
        }
        .parking_keypad{
            width:896px;display:grid;grid-template-columns: repeat(3, 1fr);gap:30px 40px;
            button{
                @include flex-center();gap:25px;
                height:206px;border:0;border-radius:20px;background-color: #F2F2F2;font-size:8rem;font-weight:700;color:#000;
                &[data-rel="delete"]{
                    font-size:5.4rem;
                    &:before{content:"";width:30px;height:55px;background-position: center center;background-repeat:no-repeat;background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='54' fill='none'%3E%3Cpath stroke='%23000' stroke-width='6' d='M29 3 5 27l24 24'/%3E%3C/svg%3E");}
                }
                &[data-rel="search"]{
                    font-size:5.4rem;color:#fff;background-color: #222;
                }
            }
        }
        .parking_help{
            margin-top:auto;display: none;
            .help_btn{
                @include flex-center;gap:30px;width: 100%;border:2px solid #aaa;color:#000;border-radius:10em;height:156px;background-color: transparent;font-weight:700;
            }
        }
    }
}


/*저자세세*/
.lowScreen{
    #page_parking{
        .page_content{
            margin-top:200px;
            .parking_info{
                display: none;
            }
            .parking_help{
                display: block;
            }
        }
    }
        
    .parking_search{
        .search_top{
            margin-bottom:120px;display: flex;
            .title{
                padding-right:260px;flex:1 1 auto;width: 1%;;height: 240px;text-align:left;margin-bottom:0;word-break: keep-all;
            }
            .search_input{
                margin-left:auto;width: 896px;
            }
        }
    }
}

.contrast{
    .info_step{
        background-color: rgba(255,255,255,.06);color:#fff;
        .item{
            .num{
                background-color: #fff;color:#000;
            }
            &:after{
                filter: invert(1);
            }
        }
    }
    .info_text{
        color:#fff;
        .title{
            color:#fff;
        }
    }

    .parking_search{
        .search_top{
            .title{
                color:#fff;
            }
            .search_input{
                border:10px solid #fff;
                span{
                    background-color: #000;color:#fff;
                    &:before{
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='61' height='59' fill='none'%3E%3Cpath fill='%23A4A4A4' d='m41.78 58.463-8.053-11.086-3.158-4.66-3 4.66-8.053 11.086-12-8.837 7.895-11.246 3.316-4.499-5.053-1.446L.727 28.097l4.579-14.299 12.947 4.177 5.21 1.928-.158-5.623V.463h14.843V14.28l-.158 5.623 5.21-1.928 12.948-4.177 4.579 14.3-12.948 4.337-5.21 1.607 3.316 4.338 7.894 11.246-12 8.837Z'/%3E%3C/svg%3E");
                    }
                }
            }
        }
        .search_bottom{
            color:#fff;
            .parking_keypad{
                button{
                    &[data-rel="search"]{
                        color:#000;background-color: $point-color;
                    }
                }
            }
            .parking_help{
                .help_btn{
                    border:2px solid #a4a4a4;color:#fff;
                    svg{
                        color:#fff;
                        path{
                            fill:#000 !important;
                        }
                    }
                }
            }
        }
    }
}