@use '_mixins' as *;
@use '_variables' as *;

#page_event {
    .page_content {
        margin-top:280px;
        #event_slide {
            display: flex;flex-direction: column;flex:1 1 auto;margin:0 70px;
            .slide_image {
                width:1080px;height: 1920px;
            }
            .slide_video {
                width:1080px;height: 1920px;
            }
        }
    }
    .splide__arrows{
        margin-top:auto;
        margin-bottom:84px;
    }
}


/*저자세*/
.lowScreen{
    #page_event {
        .page_content {
            margin-top:170px;
            #event_slide {
                .slide_image {
                    width:578px;height: 1028px;
                }
                .slide_video {
                    width:578px;height: 1028px;
                }
            }
        }
    }
}
