@use '_mixins' as *;
@use '_variables' as *;

#content #page_map{
    display: flex;
}

#page_map {
    .floor_info {
        position:relative;color:#222;margin:220px 170px 100px;padding-left:50px;display:flex;align-items: center;justify-content: center;
        h2 {
            @include font-sohnesml();
            position: absolute;left:0;top:50%;transform: translate(0,-50%);font-size:32rem;font-weight:600;line-height: 260px;letter-spacing: 3rem;height: 260px;
        }
        h3 {
            text-align: center;
            .floor_en {
                @include font-sohnesml();
                font-size:14rem;font-weight:600;line-height: 1;letter-spacing: 1rem;height: 140px;
            }
            .floor_local {
                font-size:6rem;margin-top:20px;height: 75px;
            }
        }
    }
    .qr_code{
        display: none;position: absolute;z-index:10;right:0;bottom:470px;padding:50px 80px 50px 50px;max-width:1026px;background-color:rgba(255,255,255,.85);align-items: center;gap:40px;word-break:keep-all;
        .qr{
            width:277px;height:277px;border:4px solid #000;padding:20px;display: flex;align-items: center;
            img{
                width: 100%;
            }
        }
        .cnt{
            flex:1 1 auto;width:1%;
            strong{
                display: block;font-size:5.6rem;font-weight:900;
            }
            p{
                font-weight:700;margin-top:20px;word-break: keep-all;
            }
        }
    }
    .page_content {
        .floor_map {
            position: relative;
            #map {
                height: 2340px;
                .store-group{
                    .store-item{
                        text-align: center;
                    }
                }
            }
            .floor_selects {
                position: absolute;left:120px;bottom:100px;width:240px;flex-direction: column;
                .item {
                    width: 100%;
                    button {
                        height:200px;box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.2);
                    }
                }
            }
            .map_control {
                width:245px;position: absolute;right:80px;bottom:80px;z-index:100;box-shadow:0 0 60px rgba(0,0,0,.16);display:flex;flex-direction: column;border-radius:99em;padding:59px 0;background-color: #fff;border:6px solid transparent;
                button {
                    color:#000;border:0;background-color: transparent;height:210px;font-size:4.8rem;font-weight:700;border-radius:30px;
                    svg {}
                    span {
                        display: block;line-height: 1.2;margin-top:5px;
                    }
                    &:first-child{
                    }
                    &:last-child{
                    }
                }
            }
        }
        .facility_cates {
            padding:81px 20px 115px;background-color: #fff;border-top:6px solid transparent;
            #pub_quick_items{
                button{
                    padding:23px 40px 23px 20px;
                    img{width:100px;filter:invert(1)}
                    &.active{
                        img{filter: invert(0);}
                    }
                }
            }
        }
        .floor_history{
            display:none;background-color: #fff;justify-content: center;gap:178px;padding:20px 140px 80px;
            .item{
                border:6px solid #707070;border-radius:20px;position: relative;;width:240px;height:240px;text-align: center;display: flex;flex-direction: column;justify-content: center;align-items: center;justify-content: center;font-weight:700;
                strong{
                    color:#363636;font-size:6.6rem;
                }
                span{
                    font-size:4.86rem;display: block;margin-top:5px;
                }
                &:after{
                    content:"";position: absolute;top:50%;margin-top:-22px;right:-100px;width:22px;height:44px;background-position: center center;background-repeat: no-repeat;background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='49' fill='none'%3E%3Cpath stroke='%23000' stroke-width='6' d='m3 2.389 22 22-22 22'/%3E%3C/svg%3E");
                }
                &:last-child{
                    background-color: #000;border:0;box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
                    strong{
                        color:#fff;
                    }
                    span{
                        color:#fff;
                    }
                }
                &:last-child:after{
                    display: none;
                }
            }
        }
        .wayfind_control{
            display:none;padding:81px 115px 115px;background-color: #fff;
            .tab_btn{
                gap:60px;width: 100%;
                .item{
                    button{
                        color:#fff;height: 150px;gap:20px;
                        svg{
                            max-width:88px;
                        }
                        &#wayfind_end{
                            background-color: #FF643C;border:0; 
                        }
                    }
                    &:last-child{
                        margin-left:auto;
                    }
                }
            }
        }
    }

    .map_slide{
        .map{
            height: 2345px;
        }
        .splide__arrows{
            display: none;margin-top:80px;padding:0 75px;
        }
        @keyframes blink {
            0%, 100% { transform: translate(-50%, -50%) scale(1); }
            50%      { transform: translate(-50%, -50%) scale(1.5); }
        }
        
        .blink-animation {
            animation: blink 01s ease-in-out 50;
        }
        @keyframes floating {
            0%   { transform: translate(-50%, -50%) translateY(0); }
            50%  { transform: translate(-50%, -50%) translateY(-10px); }
            100% { transform: translate(-50%, -50%) translateY(0); }
        }
        
        .floating-animation {
            animation: floating 2s ease-in-out infinite;
        }
    }

    &.result{
        .floor_map{
            #map{
                height: 1965px;
            }
        }
        .map_slide{
            .map{
                height: 1965px;
            }
        }
        .floor_selects, .facility_cates, .map_control{
            display: none !important;
        }
        .floor_history ,.wayfind_control{
            display: flex !important;
        }
        .map_slide{
            .splide__arrows{
                display: flex;
            }
        }
        .qr_code{
            display: flex;
        }
    }
}


/*저자세*/
.lowScreen{
    #page_map {
        .floor_info {
            margin-top:1500px;margin-bottom:30px;
        }
        .page_content {
            .floor_selects {
                left:80px;bottom:70px;gap:30px;
                .item {
                    button {
                        height: 138px;font-size:4.8rem;
                        svg{
                            display: none;
                        }
                    }
                }
            }
            .floor_map {
                #map {
                    height: 1250px;
                }
            }
        }
        .floor_history{
            padding:40px 120px;
        }
        .map_slide{
            .map{
                height: 1250px;
            }
        }
        &.result{
            .floor_map{
                #map{
                    height: 895px;
                }
            }
            .map_slide{
                .map{
                    height: 895px;
                }
            }
            .qr_code{
                bottom:auto;top:160px;
            }
        }
    }
}


/*고대비*/
.contrast{
    #page_map {
        .floor_info {
            color:#fff;
        }
        .page_content {
            .floor_map {
                .floor_history{
                    background-color: transparent;
                    .item{
                        border:0;
                        strong{
                            color:#fff;
                        }
                        &:after{
                            filter: invert(1);
                        }
                        &:first-child{
                            background-color: #fff;
                            strong{
                                color:#000;
                            }
                            span{
                                color:#000;
                            }
                        }
                        &:last-child{
                            background-color: $point-color;
                            strong{
                                color:#000;
                            }
                            span{
                                color:#000;
                            }
                        }
                    }
                }
                #map {
                    background-color: #000;
                    .pub-group{
                        filter: invert(1);
                    }
                }
                .floor_selects {
                    box-shadow:none;border-color:#707070;
                    button{
                        background-color: #1c1c1e;color:#fff;border-color:#707070;
                        svg{
                            color:#fff;
                            .marker_circle{fill:#000;}
                        }
                        &.active {background-color: #fff !important;color:#000;border-color:#fff;box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.2);}
                    }
                }
                .map_control {
                    box-shadow:none;background-color: #000;border-color:#707070;
                    button {
                        color:#fff;
                    }
                }
            }
            .facility_cates {
                background-color: #000;border-color:#707070;
                .tab_btn.type2 {
                    .item {
                        button {
                            background-color: #000;color:#fff;border:6px solid #fff;
                            &.active {
                                background-color:$point-color;border-color:$point-color;color:#000;box-shadow:0 6px 16px rgba(0,0,0,.24);
                                img {
                                    filter: invert(1);
                                }
                            }
                        }
                    }
                }
            }
            .wayfind_control{
                background-color: transparent;
                .tab_btn{
                    .item{
                        button{
                            color:#000;
                            &#wayfind_end{
                                background-color: $point-color;
                            }
                        }
                    }
                }
            }
        }
    }
}