@font-face {
    font-family: "SohneSml";
    font-weight: 400;
    font-style: normal;
    src: 
    url("../fonts/SohneSml/SohneSml-Extrafett.woff2") format("woff2"),
    url("../fonts/SohneSml/SohneSml-Extrafett.woff") format("woff"),
  }
  
@font-face {
    font-family: "SohneSml";
    font-weight: 700;
    font-style: normal;
    src: 
    url("../fonts/SohneSml/SohneSml-Halbfett.woff2") format("woff2"),
    url("../fonts/SohneSml/SohneSml-Halbfett.woff") format("woff"),
}