@use '_mixins' as *;
@use '_variables' as *;
@use 'splide';
@use 'Happiness-Sans';
@use 'SohneSml';
@use 'popup';
@use 'page_screen_saver';
@use 'page_map';
@use 'page_store';
@use 'page_event';
@use 'page_facility';
@use 'page_parking';
@use 'language';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: -0.15rem;
}
html,body{width:100%;height:100%;}
html {font-size: 16px;font-family: $font-stack;font-size: 62.5%;}
body {background: #f5f5f5;color: #333;font-size: 4.85rem;touch-action: manipulation;}
* {-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
*:focus{ outline-offset: -10px;outline:10px dashed rgb(244, 122, 0);}
*,:before,:after{box-sizing: border-box;margin:0;padding:0;list-style: none;}
img{max-width:100%;}
button,label{cursor: pointer;font-size:4.85rem;}
input:disabled{background-color: #fff;}
.focus_only{position: absolute !important;width: 1px; height: 1px;padding: 0;margin: -1px;overflow: hidden;clip: rect(0, 0, 0, 0);white-space: nowrap;border: 0;}

#layout{width:2160px;height:3840px;overflow: hidden;;position: relative;margin:0 auto;display:flex;flex-direction: column;box-shadow: 0 0 15px rgba(0,0,0,0.3);background-color: #fff;}
html.page_store #layout,html.page_food #layout{
    background-color: #F6F6F6;
}
#content{
    display:flex;flex-direction: column;flex:1 1 auto;height:1%;position: relative;
    .page_wrap{
        flex:1 1 auto;display: none;flex-direction: column;
    }
}

#page_loading{
    position: absolute;left:0;top:0;width:100%;height: 100%;background-color: #000000;color:#fff;z-index: 10000;display: flex;flex-direction: column;align-items: center;justify-content: center;padding-bottom:300px;opacity: 1;transition: opacity 1s ease;
    &:before{content:"";display: block;width: 700px;height:700px;background-position: center center;background-repeat: no-repeat;background-size: contain;background-image: url('../images/connect_hyundai.jpg');}
    #bar{
        background-color: rgba(255,255,255,.3);height:35px;width:100%;padding:8px 0;
        #gauge{
            width: 5%;;height: 100%;background-color: rgba(255,255,255,1);transition:all 0.5s;
            box-shadow:0 0 40px rgb(255 253 187), 0 0 80px rgb(255 253 204);border-radius:10em;
        }
    }
    &.out{opacity:0;}
}

/*하단 공통 버튼*/
.bottom_area{
    margin-top:auto;
    button{
        &:focus{position: relative;z-index: 10;}
    }
    /*대메뉴*/
    .menu{
        @include flex-center();
        .item{
            flex: 1 1;
            button{
                @include flex-center();
                flex-direction: column;justify-content: end;padding-bottom:35px;border:0;border-top:1px solid #D1D1D1;border-bottom:1px solid #D1D1D1;background:#fff;width: 100%;height: 330px;
                color:#363636;font-size:4.8rem;
                background: linear-gradient(180deg, #FFFFFF 0%, #FCFCFC 60%, #E9E9E9 100%);
                &.active{
                    position: relative;z-index: 10;background: $point-color;box-shadow:0 0 50px rgba(0,0,0,0.3);color:#000;
                }
                &:focus{outline-color: rgb(251, 125, 22);}
                svg{
                    margin-bottom:20px;
                }
                strong{min-height: 72px;@include flex-center();}
            }
        }
        .item + .item{border-left: 1px solid #d1d1d1;}
    }

    /*플로팅 컨트롤*/
    .floating{
      @include flex-center();
      padding:45px 5px 45px 65px;background-color: #222;height: 280px;
      button{
        color:#fff;
      }
      .btns{
            width:1808px;height: 100%;;display:flex;gap:30px;
            .item{
                flex:1 1;position: relative;
                > button{
                    display: block;width: 100%;height: 100%;background-color: transparent;border:0;border:4px solid #454545;border-radius:20px;font-size:4.8rem;
                    strong{
                        display: block;font-weight:700;
                    }
                    &.active {
                        color:$point-color;border-color:$point-color;
                    }
                }
            }
            .home{
                width:260px;flex:none;
            }
        }
        .select_items{
            opacity:0;pointer-events: none;transition:all 0.3s;position: absolute;z-index: 10;left:-15px;bottom:calc(100% - 40px);width:calc(100% + 30px);background-color: #111;box-shadow:0 0 25px rgba(0,0,0,0.3);padding:15px;display: flex;flex-direction:column-reverse;gap:15px;border-radius:12px;
            button{
                width:100%;height:90px;border:0;background-color: #444;border-radius:5px;font-size:4.3rem;
                &.active{
                    background-color: $point-color;color:#000;
                }
            }
            &.active{
                bottom:calc(100% + 10px);opacity:1;pointer-events: auto;
            }
        }

        /*잔여시간*/
        .reset_time{
            width:calc(100% - 1808px);text-align: center;font-size:4.8rem;font-weight:700;color:#fff;
            strong{
                display: block;margin-bottom:15px;
            }
            .time{
                display: block;
            }
        }
    }
}
  

.page_wrap{
    .page_title{
        text-align: center;margin-top:240px;
        h2{
            color:#222;font-size:12rem;font-weight:700;height:150px;
        }
        p{
            color:#363636;font-size:6rem;margin-top:30px;height:75px;
        }
    }
    .page_content{
        flex:1 1 auto;height: 1%;display:flex;flex-direction: column;
    }
}


.splide.arrow_hidden{
    .splide__arrows {
        display: none;
    }
}
.slide_image{
    margin:0 auto;background-position: center center;background-size: cover;background-repeat: no-repeat;
}
.slide_video{
    margin:0 auto;position:relative;
    video{
        position: absolute;left:0;top:0;width:100%;height:100%;object-fit: cover;
    }
    .video_controls{
        display: flex;align-items: center;justify-content: center;gap:30px;padding:20px;position: absolute;left:0;bottom:0;width:100%;z-index: 10;
    }
    button{
        flex:1 1;display:flex;align-items: center;gap:13px;justify-content: center;padding:20px 0;border-radius:20px;background-color: #222;border:0;box-shadow:0 0 20px rgba(0,0,0,0.3);color:#fff;font-size:5rem;font-weight:700;
        &.active{background-color: $point-color;color:#000;}
        &:before{content:"";display: block;width:80px;height:80px;margin-top:3px;background-repeat: no-repeat;background-position: center center;}
        &.play:before{background-size: 60px;background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='white' class='icon icon-tabler icons-tabler-filled icon-tabler-player-play'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M6 4v16a1 1 0 0 0 1.524.852l13-8a1 1 0 0 0 0-1.704l-13-8A1 1 0 0 0 6 4z'/%3E%3C/svg%3E");}
        &.pause:before{background-size: 70px;background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='white' class='icon icon-tabler icons-tabler-filled icon-tabler-player-pause'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M9 4H7a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2zM17 4h-2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2z'/%3E%3C/svg%3E");}
        &.play.active:before{background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23222222' class='icon icon-tabler icons-tabler-filled icon-tabler-player-play'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M6 4v16a1 1 0 0 0 1.524.852l13-8a1 1 0 0 0 0-1.704l-13-8A1 1 0 0 0 6 4z'/%3E%3C/svg%3E");}
        &.pause.active:before{background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23222222' class='icon icon-tabler icons-tabler-filled icon-tabler-player-pause'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M9 4H7a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2zM17 4h-2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2z'/%3E%3C/svg%3E");}
    }
}

.splide__arrows{
    display: flex;align-items: center;justify-content: space-between;margin-left:45px;margin-right:45px;
    .splide__arrow{
        width:840px;height:150px;line-height:1;border:4px solid #000;background-color: #000;color:#fff;font-size:5.4rem;font-weight:700;position: relative;border-radius:10em;
        &::before{content:"";width:30px;height: 50px;position: absolute;top:50%;margin-top:-25px;background-repeat: no-repeat;background-position: center center;}
        &.splide__arrow--prev{
            &::before{left:60px;background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='54' fill='none'%3E%3Cpath stroke='%23fff' stroke-width='6' d='M29 3 5 27l24 24'/%3E%3C/svg%3E");}
        }
        &.splide__arrow--next{
            &::before{right:60px;background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='54' fill='none'%3E%3Cpath stroke='%23fff' stroke-width='6' d='m3 3 24 24L3 51'/%3E%3C/svg%3E");}
        }
        &:disabled{
            color:#000;background-color: #fff;
            &:before{filter:brightness(0);}
        }
    }
}
.slide-counter{
    line-height:1;color:#5F5F5F;font-size:6rem;min-width:180px;text-align: center;padding:0 10px;
    strong{color:#222;font-weight:700;}
}


.tab_btn {
    @include flex-center();
    &.type1 {
        gap:60px;
        .item {
            flex:1 1;
            button {
                display: block;width:100%;height:220px;border:0;background-color:#fff;border-radius:36px;color:#222;font-size:5.6rem;font-weight:700;border:4px solid #000;
                &.active {background-color: #222;color:#fff;}
                svg{
                    display: block;margin:0 auto;margin-bottom:5px;color:#FF643C;
                    .marker_circle{fill:#fff;}
                }
                svg + span{
                    font-size:4.8rem;
                }
            }
        }
    }
    &.type2 {
        gap:76px;
        .item {
            button {
                background-color: #000;color:#fff;border-radius:20px;height: 110px;;padding:23px 40px;display: flex;align-items: center;gap:8px;font-size:4.8rem;font-weight: 700;white-space: nowrap;line-height:1.2;
                svg {color:#fff;}
                &.active {
                    background-color:$point-color;color:#000;box-shadow:0 6px 16px rgba(0,0,0,.24);border:0;
                }
            }
        }
    }
    
}



/*저자세*/
.lowScreen{
    .bottom_area{
        /*대메뉴*/
        .menu{
            .item{
                button{
                    justify-content: center;padding-bottom:0;height: 206px;
                    svg{
                        display: none;
                    }
                }
            }
        }
    }
    .page_wrap{
        .page_title{
            margin-top:1500px;
        }
    }
    .slide_video{
        button{
            font-size:4rem;
            &:before{width:50px;height:50px;}
            &.play:before{background-size: 45px;}
            &.pause:before{background-size: 50px;}
        }
    }
}


/*고대비*/
.contrast{
    #layout{
        background-color: #000 !important;
    }
    .bottom_area{
        /*대메뉴*/
        .menu{
            .item{
                button{
                    color:#fff;background: linear-gradient(180deg, #363636 0%, #222222 60%, #000000 100%);
                    svg{
                        
                    }
                    &.active{
                        color:#000;background: $point-color;
                    }
                }
            }
        }
    }
    .page_title{
        h2{
            color:#fff;
        }
        p{
            color:#fff;
        }
    }

    /*슬라이드 관련*/
    .splide__arrows{
        .splide__arrow{
            border:4px solid #fff;background-color: #fff;color:#000;
            &:before{filter:brightness(0);}
            &:disabled{
                color:#fff;background-color: #000;
                &:before{filter:brightness(1);}
            }
        }
    }
    .slide-counter{
        color:#fff;
        strong{color:#fff;}
    }
        
    /*탭메뉴*/
    .tab_btn {
        &.type1 {
            button{
                background-color:#000;border:4px solid #fff;color:#fff;
                &.active {background-color: $point-color !important;color:#000;border-color:$point-color;}
            }
        }
        &.type2 {
            .item {
                button {
                    background-color: #fff;color:#000;
                    svg {color:#000;}
                    &.active {
                        background-color:$point-color;
                    }
                }
            }
        }
    }
}

